name: Build iOS IPA

on:
  workflow_dispatch:

jobs:
  ios:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Prebuild iOS
        run: npx expo prebuild --platform ios --no-install

      - name: Install CocoaPods
        run: |
          cd ios
          pod install --repo-update

      - name: Upload ios folder (debug)
        uses: actions/upload-artifact@v4
        with:
          name: ios-folder
          path: ios
